.folder-form-container{
    display: flex;
    justify-content: center;
}

.folder-name-heading{
    text-align: center;
}

.folder-cancel-button{
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}