.modal-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: none;
}

.modal-header .btn-close {
  color: #fff;
}

.modal-title {
  margin: 0;
}

.modal-body .form-group {
  margin-bottom: 15px;
}

.modal-body .form-control,
.modal-body .form-control-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.modal-body .form-control-file {
  padding: 0;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-between; /* Space between buttons for better layout */
}

.modal-footer .btn {
  flex: 1; /* Make buttons responsive */
  margin: 0 5px; /* Add some space between buttons */
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border: none;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
}

.modal-footer .btn:hover {
  opacity: 0.8;
}

.rm-btn {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center; /* Center text */
}

.image-preview img.uploaded-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 10px; /* Add space between the image and the remove button */
}

.image-preview p {
  color: red;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4px 5px;
  text-align: center;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center; /* Center the error message */
  font-size: 14px;
}

.image-store-status {

    color: red;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 7px;

}
