.login-super-container{
  height: 100vh;
    display: flex;
    align-items: center;
}

.loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-container h1{
  font-weight: 800;
}
.login-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;

  }
  .login-heading{
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .user-not-exist{
    display: flex;
    justify-content: center;
    color: black;
    word-wrap:no-wrap;
  }

  .signup-link{
    padding-left: 2px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media(max-width:320px){
    input{
       width: auto;
    }
 }